<form  (ngSubmit)="onSubmit()">
  <p>Add workout</p>
  <label> Title: 
    <input [(ngModel)]="workout.title" name="title" placeholder="title">
  </label>
  <br />
  <label> Note: 
    <textarea [(ngModel)]="workout.notes" name="notes" placeholder="notes"></textarea>
  </label>
  <br />
  <label> Calories Burnt Per Minutes: 
    <input [(ngModel)]="workout.caloriesBurntPerMinute" name="caloriesBurntPerMinute" placeholder="caloriesBurntPerMinute">
  </label>
  <br />
  <label> Category: 
    <input [(ngModel)]="workout.category" name="category" placeholder="category">
  </label>
  <br />
  <button type="submit">Add Workout</button>
</form>
